---
const { title, subtitle } = Astro.props;
---

<div class="mb-14">
  <p class="mb-3 text-sm uppercase tracking-[0.3em] text-zinc-500">
    {subtitle}
  </p>

  <h2 class="text-4xl font-black md:text-5xl">
    {title}
  </h2>
</div>
