---
import "../styles/global.css";
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta
      name="description"
      content="Aurora desarrolla software moderno, rápido y escalable."
    />
  </head>

  <body class="bg-[#010214] text-zinc-100 antialiased">
    <div
      class="fixed inset-0 -z-10 bg-[radial-gradient(circle_at_top,rgba(120,119,198,0.15),transparent_40%)]"
    >
    </div>
    <div class="whatsapp-btn">
      <a
        href="https://wa.me/573180378955?text=Hola,%20quiero%20cotizar%20un%20desarrollo%20web%20o%20automatización%20para%20mi%20empresa."
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/WhatsApp.svg" alt="WhatsApp" />
      </a>
    </div>
    <slot />
  </body>
</html>
